# Compiler files
out/
artifacts/
cache/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.states/
foundry.lock

.deps/

.vscode/

node_modules/

package-lock.json

package-lock.backup.json

app/.next-ci-test/*